.flipper-container {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 15px;
  display: block;
  -webkit-perspective: 3000;
  -ms-perspective: 3000;
  perspective: 3000;
}
.flipper-container span {
  color: white;
}
.flipper-container > div.flipper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flipper-container > div.flipper .front,
.flipper-container > div.flipper .back {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  transition: transform ease 500ms, -webkit-transform ease 500ms;
}
.flipper-container > div.flipper .front {
  z-index: 2;
  background: #19489E;
  /* front tile styles go here! */
}
.flipper-container > div.flipper .back {
  background: #9E1919;
  /* back tile styles go here! */
}
.flipper-container.horizontal .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipper-container.horizontal .back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flipper-container.horizontal div.flipper.flipped .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipper-container.horizontal div.flipper.flipped .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipper-container.vertical .front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.flipper-container.vertical .back {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.flipper-container.vertical div.flipper.flipped .front {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.flipper-container.vertical div.flipper.flipped .back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
#example {
  background-color: red;
}
*:focus {
  outline: none;
}
.app {
  background: #EBEAE8;
}
.nav {
  display: block;
  padding: 5px;
}
.nav li {
  display: inline-block;
  margin: 2px 5px;
}
.sidebar {
  background-color: #EBEAE8;
  position: fixed;
  width: 90px;
  right: 0px;
  top: 0;
  bottom: 0;
  padding: 4px;
  box-sizing: border-box;
  z-index: 50;
}
.sidebar ul {
  padding: 0px;
}
.sidebar ul li {
  list-style: none;
  padding: 0px;
  margin: 4px 0;
}
.sidebar ul li span.user {
  display: inline-block;
  min-width: 76px;
  line-height: 1.5;
  padding: 2px;
}
.sidebar .namelist .btn-nav {
  text-align: center;
  background-color: #999;
}
.sidebar .namelist .btn-nav button {
  background: #bee0ff;
  border: none;
  padding: 2px 5px;
  margin: 3px 2px;
  border-radius: 4px;
}
.game .player {
  display: inline-block;
  margin: 5px 10px;
}
.game .player .name {
  display: block;
  color: #888;
  padding: 4px;
}
.game .player .hp,
.game .player .mp {
  display: inline-block;
  margin: 4px;
}
